main, body {
  height: 100%;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-color: rgba(250, 249, 246, 0.3);
  margin: 0;
}

.App {
  margin: 0;
}

